.circle-button {
	width: 40px;
	height: 40px;
	padding: 12px;
	border-radius: 50%;
	cursor: pointer;
	border: 3px solid white;
}

.fontFormChange input[type='radio']:not(:checked):hover + label,
.colorFormChange input[type='radio']:not(:checked):hover + label {
	outline: 1px solid #dfe5faea;
}

input[type='radio'] {
	display: none;
}

.fontFormChange input[type='radio']:checked + label {
	background-color: #161932;
	color: white;
}
.colorFormChange input[type='radio']:checked + label {
	content: url('../../assets/colorCheck.png');
	object-fit: contain;
}
